@use "sass:color";
@use "tools" as * with (
  $primary-color: #802992,
  $secondary-color: #89cb07,
);
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  letter-spacing: 0.6px;
}

.fa-chevron-right {
  margin-left: 5px;
  [dir=rtl] & {
    margin-left: unset;
    margin-right: 5px;
    &::before {
      content: "\f053";
    }
  }
}
.fa-quote-right::before {
  [dir=rtl] & {
    content: "\f10d";
  }
}

.fa-arrow-right::before {
  [dir=rtl] & {
    content: "\f060";
  }
}

p {
  text-align: left;
  line-height: $line-height-lg;
  color: $body-color;
  [dir=rtl] & {
    text-align: right;
  }
}

h1 {
  letter-spacing: 2px;
  [dir=rtl] & {
    letter-spacing: inherit;
  }
}

.head-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: $font-size-xl + 10;
  @include transition;
  &::before, &::after {
    content: "";
    width: 30px;
    @include media-up("sm") {
      width: 60px;
    }
    height: 10px;
    margin-left: 15px;
    margin-right: 15px;
    background-color: $secondary-color;
  }
  :any-link {
    @include transition;
    &:hover {
      @include media-up("sm") {
        padding: 0 15px;
      }
      color: $primary-color;
    }
  }
  span {
    font-weight: 300;
  }
}

h1.underline {
  text-align: center;
  &::after {
    margin-left: auto;
    margin-right: auto;
    height: 10px;
    width: 80px;
    background-color: $secondary-color;
  }
  :any-link {
    @include transition;
    &:hover {
      color: $primary-color;
    }
  }
  span {
    font-weight: 300;
  }
}

.card {
  .card-grid & {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }
  .card-body {
    border-width: 0;
    border-radius: unset;
  }
  .card-body {
    .card-title a {
      color: inherit;
    }
    .card-grid & {
      background-color: $light-color;
      flex-grow: 1;
      @include transition;
      .card-meta {
        color: $primary-color;
      }
    }
  }
  &.row {
    .card-img {
      border-radius: 0;
      @include media-up("sm") {
        height: 300px;
      }
    }
    .card-body {
      position: relative;
      .card-title {
        display: flex;
        justify-content: space-between;
        font-size: $font-size-xl;
      }
      .card-desc {
        font-size: $font-size-base + 2;
      }
      .mark {
        @include media-down("md") {
          display: none;
        }
        position: absolute;
        top: 50%;
        right: 100%;
        [dir=rtl] & {
          right: unset;
          left: 100%;
        }
        transform: translateY(-50%);
      }
    }
    @include media-up("md") {
      display: flex;
      .card-img, .card-body {
        flex-basis: 50%;
        padding: 0;
      }
      .card-img {
        height: 100%;
        max-height: 400px;
        margin-right: 20px;
        [dir=rtl] & {
          margin-right: unset;
          margin-left: 20px;
        }
        border: 0;
      }
      .card-body {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-top: 20px;
        padding-left: 20px;
        [dir=rtl] & {
          padding-left: unset;
          padding-right: 20px;
        }
        .card-title {
          width: 100%;
        }
        .btn {
          margin-top: auto;
        }
      }
    }
    @include media-up("lg") {
      .card-img {
        margin-right: 40px;
        [dir=rtl] & {
          margin-right: unset;
          margin-left: 40px;
        }
      }
      .card-body {
        padding-top: 40px;
        padding-left: 40px;
        [dir=rtl] & {
          padding-left: unset;
          padding-right: 40px;
        }
        .card-desc {
          font-size: $font-size-md;
        }
      }
    }
  }
}

.card-list {
  .card-img {
    @include media-up("sm") {
      height: 300px;
    }
    @include media-up-down("md", "xl") {
      img {
        max-height: 100%;
        max-width: unset;
      }
    }
  }
  .card-body {
    border-width: 1px;
    border-radius: inherit;
    @include media-up("lg") {
      padding-left: 40px;
      padding-right: 40px;
    }
    .card-desc {
      @include media-up-down("md", "lg") {
        line-height: 1.5
      }
    }
  }
}

.shuflle {
  .list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
    font-size: $font-size-md;
    @include media-down("xs") {
      font-size: $font-size-base;
    }
    li {
      padding: 10px 15px;
      @include media-down("xs") {
        padding-left: 7px;
        padding-right: 7px;
      }
      border-bottom: 4px solid transparent;
      cursor: pointer;
      @include transition;
      &:hover:not(.active) {
        background-color: $light-color;
      }
      &.active {
        border-color: $secondary-color;
      }
    }
  }
}

.heading {
  padding-bottom: 20px;
  display: flex;
  align-items: flex-end;
  min-height: 270px;
  h1 {
    margin: 20px 0;
    @include media-up("sm") {
      font-size: $font-size-xl + 10;
    }
    @include media-up("xl") {
      font-size: $font-size-xl + 20;
    }
  }
  .breadcrumb {
    justify-content: center;
  }
  .breadcrumb-item.active {
    color: inherit;
  }
  .overlay-img::before {
    height: 60%;
    top: unset;
    bottom: 0;
  }
}

.sub-title {
  font-size: $font-size-base + 2;
  letter-spacing: 1px;
}

.sub-text {
  line-height: $line-height-md;
  font-size: $font-size-base;
  color: $gray;
  @include media-up("lg") {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
}

.mark {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 120px;
  position: relative;
  background-color: $secondary-color;
  border-radius: 4px;
  padding: 15px;
  color: $white;
  font-size: $font-size-md;
  &.arrow::after {
    content: "";
    position: absolute;
    top: calc(100% - 4px);
    right: 0;
    [dir=rtl] & {
      right: unset;
      left: 0;
    }
    border: 0 solid transparent;
    border-top-color: $secondary-color;
    border-top-width: 30px;
    border-left-width: 15px;
    [dir=rtl] & {
      border-left-width: unset;
      border-right-width: 15px;
    }
  }
}

form {
  border-radius: 8px;
  background-color: $white;
  color: $body-color !important;
  font-size: $font-size-base + 2;
  .custom-file {
    height: calc(2.45rem + .75rem + 2px);
    .custom-file-label {
      padding-top: 9px;
      padding-bottom: 9px;
      &::before {
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: $font-size-md;
      }
    }
  }
  [type="submit"] {
    padding-left: 30px;
    padding-right: 30px;
    font-size: $font-size-base + 2;
    font-weight: normal;
  }
}

.pagination {
  max-width: max-content;
  padding: $gutter-sm;
  margin-top: 20px;
  border-radius: 8px;
  background-color: $gray-10;
  .page-item {
    padding-left: 5px;
    padding-right: 5px;
  }
  .page-link {
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 8px;
  }
}

.modal-search {
  padding-top: 60px;
  .search {
    margin-bottom: 20px;
    font-size: $font-size-xl + 10;
    font-weight: bolder;
    color: $white;
  }
  form {
    padding: 0;
    background-color: unset;
    .field {
      display: flex;
      input {
        border-radius: 10px;
      }
      [type="submit"] {
        margin-top: 0;
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 10px;
        font-size: $font-size-md;
        @include media-up("sm") {
          margin-left: 20px;
          [dir=rtl] & {
            margin-left: unset;
            margin-right: 20px;
          }
        }
      }
    }
  }
}

.slider {
  position: relative;
  .MS-content {
    flex-wrap: nowrap !important;
  }
  .MS-controls {
    button {
      position: absolute;
      top: 50%;
      transform: translate(-50%,-50%);
      padding: 5px 10px;
      border-radius: 50%;
      font-size: $font-size-base;
      background: $light-color;
      @include transition;
      &:hover {
        background-color: $primary-color;
        color: $white;
      }
    }
    .MS-left{
      left: 0;
      &::after {
        @include insert-chevron("left");
      }
      [dir=rtl] & {
        left: 100%;
        &::after {
          @include insert-chevron("right");
        }
      }
    }
    .MS-right {
      left: 100%;
      &::after {
        @include insert-chevron("right");
      }
      [dir=rtl] & {
        left: 0;
        &::after {
          @include insert-chevron("left");
        }
      }
    }
  }
}

#to-up {
  display: none;
  @include media-down("sm") {
    top: 90%;
  }
}

#live-chat {
  @include position(60px, 60px, fixed, 80%, unset, 1);
  right: 5%;
  @include media-down("xs") {
    right: 15px;
  }
  [dir=rtl] & {
    right: unset;
    left: 5%;
    @include media-down("xs") {
      left: 15px;
    }
  }
  transform: translateY(-20%);
  font-size: 40px;
  @include media-down("sm") {
    top: 90%;
  }
}
a#live-chat {
  line-height: 60px;
}

.nav-top {
  padding-top: $gutter-sm;
  padding-bottom: $gutter-sm;
  border-bottom: $border-width solid $gray;
  .container {
    @extend %flex-center;
    > {
      :not(:first-child):not(:last-child) {
        @include media-down("md") {
          padding-left: $gutter-sm;
          padding-right: $gutter-sm;
        }
        @include media-up("md") {
          padding-left: $gutter-xl;
          padding-right: $gutter-xl;
        }
        border-left: $border-width solid $primary-color;
        [dir=rtl] & {
          border-left: unset;
          border-right: $border-width solid $primary-color;
        }
      }
      :first-child {
        @include media-down("md") {
          padding-right: $gutter-sm;
        }
        @include media-up("md") {
          padding-right: $gutter-xl;
        }
        [dir=rtl] & {
          @include media-down("md") {
            padding-right: unset;
            padding-left: $gutter-sm;
          }
          @include media-up("md") {
            padding-right: unset;
            padding-left: $gutter-xl;
          }
        }
      }
      :last-child {
        @include media-down("md") {
          padding-left: $gutter-sm;
        }
        @include media-up("md") {
          padding-left: $gutter-xl;
        }
        margin-left: auto;
        [dir=rtl] & {
          @include media-down("md") {
            padding-left: unset;
            padding-right: $gutter-sm;
          }
          @include media-up("md") {
            padding-left: unset;
            padding-right: $gutter-xl;
          }
          margin-left: unset;
          margin-right: auto;
        }
      }
    }

    .social {
      @extend %flex-center;
      > :first-child {
        display: none;
        @include media-up("sm") {
          display: inline;
          @include media-up("lg") {
            margin-right: $gutter-base;
            [dir=rtl] & {
              margin-right: unset;
              margin-left: $gutter-base;
            }
          }
        }
      }
      a {
        margin-left: $gutter-sm;
        @include media-up("md") {
          margin-left: $gutter-base;
        }
        [dir=rtl] & {
          margin-left: unset;
          margin-right: $gutter-sm;
          @include media-up("md") {
            margin-right: $gutter-base;
          }
        }
      }
    }
    .email .nav-link {
      span {
        display: none;
        @include media-up("md") {
          padding-left: 15px;
          display: inline;
          [dir=rtl] & {
            padding-left: unset;
            padding-right: 15px;
          }
        }
      }
    }
    .locale a {
      border-radius: $radius-width;
      padding: 7px 15px;
      letter-spacing: 0;
    }
  }
}

.navbar {
  .navbar-brand {
    img {
      max-height: 54px !important;
      @include media-up-down("lg", "xl") {
        max-height: 50px !important;
      }
    }
  }
  .navbar-nav {
    &:not(.show) {
      align-items: center;
    }
    &.show {
      @include media-max-height() {
        align-items: flex-start;
      }
    }
  }
  .navbar-nav:not(.show) {
    @include media-up-down("lg", "xl") {
      .nav-link {
        padding-left: 10px;
        padding-right: 10px;
        font-size: $font-size-sm;
        &::after {
          left: 5px;
          [dir=rtl] & {
            left: unset;
            right: 5px;
          }
        }
      }
    }
  }
  &:not(.fixed) .navbar-nav:not(.show) {
    .nav-link {
      span {
        display: inline-block;
        padding-top: $gutter-md;
        padding-bottom: $gutter-md;
        border-bottom: 4px solid transparent;
      }
      &.active span {
        border-bottom-color: $secondary-color;
      }
    }
  }
  .collapse.show {
    width: 100%;
    height: calc(100vh - 165px);
    top: 100%;
    left: 0;
    [dir=rtl] & {
      left: unset;
      right: 0;
    }
  }
}

.main-slider .carousel {
  @include media-down("xs") {
    max-height: 300px;
    .carousel-item {
      align-items: flex-end;
    }
  }
  .carousel-item {
    .item-caption {
      background-color: color.scale($white, $alpha: -60%);
      @include media-up("md") {
        max-width: 60%;
        margin: auto;
        // margin-left: 40px;
        // [dir=rtl] & {
        //   margin-left: unset;
        //   margin-right: 40px;
        // }
      }
      @include media-up("xl") {
        max-width: 40%;
        // margin-left: 60px;
        // [dir=rtl] & {
        //   margin-right: 60px;
        // }
      }
      .buttons {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 30px;
      }
    }
    .sub-title {
      font-size: $font-size-xl;
      color: $body-color;
      font-weight: bolder;
    }
    .item-title {
      font-size: $font-size-xl;
      margin-top: 10px;
      color: $primary-color;
    }
    .item-desc {
      line-height: $line-height-md;
    }
    .overlay-img::before {
      background-color: transparent;
    }
  }
  .carousel-control {
    > * {
      background-color: $gray-30;
      width: 40px;
      height: 40px;
      line-height: 37px;
      text-align: center;
      border-radius: 50%;
      color: #fff;
      font-size: $font-size-base;
      top: 50%;
    }
    @include media-down("xs") {
      .prev {
        left: 15px;
        [dir=rtl] & {
          left: unset;
          right: 15px;
        }
      }
      .next {
        right: 15px;
        [dir=rtl] & {
          right: unset;
          left: 15px;
        }
      }
    }
  }
}

.unlimited-tech {
  background-color: $light-color;
  .items {
    display: grid;
    grid-template-columns: repeat(1, auto);
    gap: 20px;
    @include media-up("sm") {
      grid-template-columns: repeat(2, 1fr);
    }
    @include media-up("lg") {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  .item {
    width: 100%;
    padding: {
      bottom: $gutter-md;
      left: $gutter-base;
      right: $gutter-base;
    }
    margin-top: 10px;
    border: $border-width solid $border-color;
    border-radius: 8px;
    background-color: $white;
    position: relative;
    h2 {
      text-align: center;
    }
    .img-circle {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100px;
      height: 100px;
      padding: 20px;
      margin: auto;
      border-radius: 50%;
      background-color: $secondary-color;
      position: relative;
      top: -10px;
      img {
        max-width: 100%;
        max-height: 100%;
      }
    }
    .more {
      padding: 10px 15px;
      border-radius: 8px;
      font-size: $font-size-md;
      background-color: $secondary-color;
      color: $white;
      position: absolute;
      top: 100%;
      left: calc(100% - 10px);
      transform: translate(-100%, -50%);
      @include transition;
      [dir=rtl] & {
        left: unset;
        right: calc(100% - 10px);
        transform: translate(100%, -50%);
      }
      &:hover {
        background-color: $primary-color;
      }
    }
    &.special {
      .img-circle {
        background-color: $primary-color;
      }
      .more {
        background-color: $primary-color;
        &:hover {
          background-color: $secondary-color;
        }
      }
    }
  }
}

main:not(.page) .services {
  .container {
    display: grid;
    grid-template-columns: 100%;
    gap: 20px;
    .benner {
      text-align: center;
      img {
        max-width: 100%;
        max-height: 100%;
      }
    }
    @include media-up("lg") {
      grid-template-columns: 2fr 1fr;
      .shuflle {
        .card {
          flex-basis: 50%;
          max-width: 50%;
        }
      }
    }
  }
}

.services {
  .card-img {
    @include media-down("xs") {
      height: auto;
    }
    @include media-down("lg") {
      height: 180px;
    }
    img {
      @include media-up("sm") {
        max-width: unset;
        max-height: 100%;
      }
    }
  }
}

.boxlight {
  position: relative;
  padding-top: 40px !important;
  padding-bottom: 40px !important;
  background-color: $primary-color;
  color: $white;
  p {
    color: inherit;
  }
  .custom-card .card-body {
    @include media-up("md") {
      padding-left: 0 !important;
      margin-left: auto;
      [dir=rtl] & {
        padding-left: unset !important;
        padding-right: 0 !important;
        margin-left: unset;
        margin-right: auto;
      }
    }
    @include media-up("lg") {
      padding-left: 40px !important;
      [dir=rtl] & {
        padding-right: 40px !important;
      }
    }
    .card-title {
      @include media-up("xl") {
        font-size: $font-size-xl + 10;
      }
    }
    .card-desc {
      margin: 0;
      @include media-up("md") {
        font-size: $font-size-base !important;
      }
      @include media-up("lg") {
        font-size: $font-size-md !important;
      }
    }
  }
  .img {
    width: 70%;
    margin: auto;
    @include media-up("md") {
      display: flex;
      width: 50%;
      height: 100%;
      padding: 20px 0;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      [dir=rtl] & {
        left: unset;
        right: 0;
      }
      @include media-up-down("md", "lg") {
        left: -20px;
        [dir=rtl] & {
          right: -20px;
        }
      }
    }
  }
  img {
    margin: auto;
    max-height: 100%;
    max-width: 100%;
  }
}

.clients {
  .container {
    position: relative;
  }
  .more {
    @include position($height: auto, $width: auto, $top: 40px, $left: calc(100% - 15px));
    transform: translateX(-100%);
    [dir=rtl] & {
      left: unset;
      right: calc(100% - 15px);
      transform: translateX(100%);
    }
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: $font-size-sm;
  }
  .items {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    overflow: hidden;
    .item {
      position: relative;
      height: 160px;
      padding: 15px;
      width: 100%;
      flex-basis: 100%;
      flex-shrink: 0;
      @include media-up("sm") {
        width: 50%;
        flex-basis: 50%;
      }
      @include media-up("lg") {
        width: 33.33%;
        flex-basis: 33.33%;
      }
      @include media-up("xl") {
        width: 25%;
        flex-basis: 25%;
      }
      .img {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
        border-radius: 10px;
        background-color: $light-color;
        @include transition;
        &:hover {
          transform: translateY(-10px);
        }
      }
    }
    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
}

.subscribe {
  .card-body {
    @include media-up("md") {
      padding-left: 0 !important;
      padding-right: 20px !important;
      [dir=rtl] & {
        padding-left: 20px !important;
        padding-right: unset !important;
      }
    }
    color: $body-color;
    .card-title {
      @include media-up("xl") {
        font-size: $font-size-xl + 10 !important;
      }
    }
    .card-desc {
      font-size: $font-size-base + 2 !important;
    }
  }
  form {
    @include media-up("md") {
      flex-basis: 50%;
    }
    @include media-up-down("md", "xl") {
      .form-group {
        flex-direction: column;
        padding: 0;
        > * {
          flex-basis: 100%;
          width: 100%;
          padding: 15px;
        }
      }
    }
  }
}

.latest {
  .card-img {
    @include media-up("xl") {
      height: 240px;
    }
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .card-body {
    position: relative;
    &:hover {
      background-color: $secondary-color;
      color: $white;
      .card-title:hover a {
        color: $light-color;
      }
      .card-meta {
        color: $white;
      }
    }
  }
  .more {
    margin-top: 30px;
  }
}

.contact-info {
  font-size: $font-size-base + 2;
  > div {
    margin-bottom: 10px;
  }
  span {
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 5px;
    margin-right: 5px;
    [dir=rtl] & {
      margin-right: unset;
      margin-left: 5px;
    }
    font-size: 26px;
    color: $white;
    background: $secondary-color;
  }
}

.page {
  > section:not(.heading) {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .heading .carousel {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
  }

  section:not(.heading) .carousel {
    .carousel-item {
      overflow: hidden;
      @include media-up("md") {
        align-items: flex-end;
        .container {
          padding: $gutter-xl 60px 60px;
        }
      }
      .item-caption {
        position: relative;
        overflow: visible;
        padding: $gutter-md * 3 $gutter-sm $gutter-md;
        border-radius: 5px;
        background-color: color.scale($white, $alpha: -90%);
        color: $white;
        @include media-up("md") {
          padding-left: $gutter-md;
          padding-right: $gutter-md;
          width: 70%;
          background-color: $white;
          color: inherit;
        }
        @include media-up("lg") {
          width: 45%;
        }
        h2 {
          margin-bottom: $gutter-sm;
        }
        p {
          display: block;
          color: $white;
          margin: 0;
          line-height: $line-height-md;
          @include media-up("md") {
            color: $gray;
          }
        }
        .mark {
          position: absolute;
          top: 0;
          left: auto;
          [dir=rtl] & {
            left: unset;
            right: auto;
          }
          transform: translateY(-60%);
        }
      }
    }
    .carousel-control .prev,
    .carousel-control .next {
      @include media-down("sm") {
        top: calc(100% - 40px);
        padding: 7px 15px;
      }
      padding: $gutter-sm $gutter-md;
      top: calc(100% - 60px);
      left: unset;
      transform: translate(-100%, -100%);
      [dir=rtl] & {
        right: unset;
        transform: translate(100%, -100%);
      }
      color: inherit;
      opacity: 1;
      &:hover {
        opacity: 0.7;
      }
    }
    .carousel-control .prev {
      right: 70px;
      [dir=rtl] & {
        left: 70px;
      }
      background-color: $secondary-color;
    }
    .carousel-control .next {
      right: 0;
      [dir=rtl] & {
        left: 0;
      }
      background-color: $white;
    }
  }

  .products {
    .card {
      @include media-up("xl") {
        flex: 0 0 25%;
        max-width: 25%;
      }
      .card-img {
        @include media-up("sm") {
          height: 160px;
        }
        @include media-up("md") {
          height: 200px;
        }
        @include media-up("lg") {
          height: 160px;
        }
      }
      .card-body {
        text-align: center;
        h2 {
          text-align: left;
          [dir=rtl] & {
            text-align: right;
          }
        }
        .btn {
          padding-top: 10px;
          padding-bottom: 10px;
        }
      }
    }
  }

  .why-us {
    article {
      text-align: left;
      [dir=rtl] & {
        text-align: right;
      }
      @include media-up("sm") {
        column-count: 2;
        column-gap: 30px;
      }
      h2 {
        font-size: $font-size-lg;
        column-span: all;
      }
      p {
        margin-top: 0;
      }
    }
  }

  .our-client-list {
    background-color: $light-color;
    @include media-up("sm") {
      padding: $gutter-xl;
      > .container {
        padding: $gutter-lg;
        background-color: $white;
        border-radius: 10px;
      }
    }
    .carousel {
      border-radius: 10px
    }
  }
  
  .contact-us {
    padding-top: 0 !important;
    .map {
      max-height: 300px;
      overflow: hidden;
      display: flex;
      align-items: center;
      img {
        max-width: 100%;
      }
    }
    .container-fluid {
      @include media-up("lg") {
        display: flex;
        .contact-info {
          order: 2;
        }
      }
      .contact-info {
        @include media-up("lg") {
          flex-basis: 40%;
          width: 40%;
          padding-top: $gutter-xl * 2;
        }
        padding: {
          top: $gutter-xl;
          bottom: $gutter-xl;
          left: $gutter-base;
          right: $gutter-xl;
        }
        [dir=rtl] & {
          padding-left: $gutter-xl;
          padding-right: $gutter-base;
        }
        height: 100%;
        background-color: $white;
      }
      .contact-form {
        @include media-up("lg") {
          flex-basis: 60%;
          width: 60%;
        }
        background-color: $light-color;
        padding: 60px 20px;
      }
    }
  }

  .search {
    .keywords {
      padding-top: 30px;
      padding-bottom: 30px;
      margin-bottom: 30px;
      font-size: $font-size-md;
      background-color: $light-color;
    }
  }

  section:not(.heading) .post {
    .post-title {
      display: flex;
      justify-content: space-between;
      font-size: $font-size-xl;
    }
    .post-content {
      font-size: $font-size-base + 2;
    }
    @include media-up("lg") {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;
      .post-img {
        max-width: 100%;
        margin: 0;
        padding-right: 20px;
        [dir=rtl] & {
          padding-right: unset;
          padding-left: 20px;
        }
        img, .overlay-bg {
          max-width: 100%;
        }
      }
      .post-content {
        padding-top: 20px;
        padding-left: 20px;
        [dir=rtl] & {
          padding-left: unset;
          padding-right: 20px;
        }
        font-size: $font-size-md;
      }
    }
    .carousel {
      @include media-down("md") {
        max-height: 300px;
      }
      @include media-up("lg") {
        margin-right: 20px;
        [dir=rtl] & {
          margin-right: unset;
          margin-left: 20px;
        }
      }
      // .carousel-control .prev, 
      // .carousel-control .next {
      //   background-color: $black;
      //   color: $secondary-color;
      //   font-size: $font-size-md;
      //   padding-left: $gutter-base;
      //   padding-right: $gutter-base;
      //   @include media-up("md") {
      //     top: 50%;
      //     right: unset;
      //     transform: translate(-50%, -50%);
      //   }
      // }
      @include media-up-down("md", "lg") {
        .carousel-control .prev {
          right: calc(25% + 70px);
          [dir=rtl] & {
              right: unset;
              left: calc(25% + 70px);
            }
        }
        .carousel-control .next {
          right: 25%;
          [dir=rtl] & {
            right: unset;
            left: 25%;
          }
        }
      }

      .post-img {
        padding: 0;
      }
    }
  }
}

footer {
  margin-top: auto;
  border-top: 4px solid $primary-color;
  @include media-up("lg") {
    .items {
      padding-bottom: 20px;
      .item {
        padding-left: $gutter-xl;
        padding-right: $gutter-xl;
      }
    }
  }
  .brand {
    padding-top: $gutter-lg;
    padding-bottom: $gutter-lg;
    text-align: center;
    img {
      max-height: 30px;
    }
  }
  .social .icon {
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
  }
  .underline::after {
    background: $secondary-color;
    width: 50px;
    height: 4px;
    margin-top: 10px;
  }
  .links {
    display: flex;
    flex-wrap: wrap;
    .nav-link {
      flex-basis: 50%;
      max-width: 50%;
    }
  }
  .contact-info {
    font-size: $font-size-sm;
    span {
      width: 40px;
      height: 40px;
      line-height: 40px;
      font-size: 20px;
    }
  }
  .sub-footer {
    .container {
      position: relative;
      @include media-down("xs") {
        display: flex;
        flex-direction: column;
        align-items: center;
        .logo {
          padding-top: $gutter-sm;
          padding-bottom: $gutter-sm;
        }
      }
    }
    .logo {
      @include media-up("sm") {
        padding-left: $gutter-base;
        padding-right: $gutter-base;
      }
      font-weight: bold;
    }
    .support {
      position: absolute;
      top: -100%;
      left: 50px;
      [dir=rtl] & {
        left: unset;
        right: 50px;
      }
      @include media-down("xs") {
        top: -40%;
        left: 15px;
        [dir=rtl] & {
          right: 15px;
        }
      }
      transform: translateY(-7px);
      padding: 5px;
      color: #fff;
      i {
        font-size: $font-size-md;
        padding: 5px 7px;
        border-radius: 4px;
        border: 4px solid #fff;
      }
      &:hover i {
        border-color: inherit;
      }
    }
  }
}
